#include "sosho_L.dtsi"

&spi0 { status = "okay"; };
&glidepoint {
    status = "okay";
    /*invert-x;*/
};
&glidepoint_split {
    status = "okay";
    device = <&glidepoint>;
    input-processors =
        <&zip_xy_transform INPUT_TRANSFORM_X_INVERT>;
};

